<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="GLSL shaders mutation.">
		<meta name="author" content="">
		<meta name="keywords" content="pvm, playlist, mix, glsl, shader">
		<title>{% block title %}Evolving shaders{% endblock %}</title>

		{% block head %}
			<script src="jquery-1.11.1.min.js"></script>
			<link href="bootstrap.min.css" rel="stylesheet">
			<link href="site.css" rel="stylesheet">
			<script src="utils.js"></script>
			<script src="glMatrix-0.9.5.min.js"></script>
		{% endblock %}
	</head>

	{% block body %}
	<body onload="startup()">
	{% endblock %}	
	
	{% block content %}
	{% endblock %}
	</body>

	{% block mainscript %}	
	<script>
	function startup () {}
	</script>
	{% endblock %}

	{% block footerscript %}
	<script>
	</script>
	{% endblock %}
</html>

